<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>1.Enter a valid location name in the input box to get the weather forecast of that location.</p>
        <p>2.Internet connection is required to fetech the forecast data.</p>
    </div>
    
    {{>footer}}
</body>

</html>